<section *ngIf="this.dossier" class="reserve-block">
  <div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="hero-title">
        <h2 class="text-secondary fw-bold"><i class="fa fa-light fa-clipboard mx-2"></i> Досьє номер {{dossier.id}}</h2>
      </div>
    </div>
  </div>
</section>

<section *ngIf="this.dossier" class="booking-details_wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 responsive-wrap ">
        <div class="booking-checkbox_wrap">
          <div class="booking-checkbox text-light p-2">
            <div [froalaView]="dossier.text" class="text border-bottom p-2" rows="3"></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
                <app-file-preview *ngIf="this.dossier.dossierFiles" [files]="this.dossier.dossierFiles"> </app-file-preview>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 responsive-wrap">
        <div class="contact-info">
          <img [src]="dossier.photo? dossier.photo.url: 'assets/images/question.png'"
               class="card-img-top" alt="#">
          <div class="border-bottom pb-3">
            <div class="address">
              <span><i class="fa fa-light fa-user"></i></span>
              <p> {{dossier.lastName}} {{dossier.firstName}} {{dossier.thirdName}}</p>
            </div>
            <div *ngIf="dossier.position" class="address">
              <span><i class="fa fa-briefcase"></i></span>
              <p>{{dossier.position}}</p>
            </div>
            <div *ngIf="dossier.placeOfWork" class="address">
              <span><i class="fa fa-building"></i></span>
              <p>{{dossier.placeOfWork}}</p>
            </div>
            <div class="address">
              <span><i class="fa fa-solid fa-calendar"></i></span>
              <p>{{dossier.date | date  : "MM/dd/yy"}} </p>
            </div>
            <div class="address">
              <span><i class="fa fa-light fa-user-circle"></i></span>
              <p>{{dossier.author}} </p>
            </div>
            <div class="address">
              <span><i class="fa fa-light" [class]="dossier.status === DossierStatuses.New? 'fa-thumbs-down': dossier.status === DossierStatuses.HasDisprove?'fa-spinner': 'fa-thumbs-up'"></i></span>
              <p>{{this.enumHelper.DossierStatus[dossier.status]}}</p>
            </div>
            <ng-container *ngIf="dossier.status == DossierStatuses.New">
              <div class="btn-search">
                <a [routerLink]="['/dossier/'+dossier.id+'/disprove']" class="btn btn-simple btn-contact">Спростувати</a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div [ngClass]="[dossier.status == DossierStatuses.Disproved ? 'none' : 'line']"></div>
      <ng-container *ngIf="dossier.status == DossierStatuses.Disproved">
        <section class="reserve-block">
          <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
              <div class="hero-title">
                <h2 class="text-secondary fw-bold"><i class="fa fa-light fa-clipboard-check mx-2"></i> Спростування досьє</h2>
              </div>
            </div>
          </div>
        </section>
        <div class="col-md-8 responsive-wrap">
          <div class="booking-checkbox_wrap">
            <div class="booking-checkbox text-light p-2">
              <div [froalaView]="dossier.disproveDossier?.text!" class="text" rows="3"></div>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-12">
                <app-file-preview *ngIf="this.dossier.disproveDossier?.dossierFiles" [files]="this.dossier.disproveDossier?.dossierFiles"> </app-file-preview>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 responsive-wrap ">
          <div class="text-wrap border-bottom pb-3">
            <div class="address">
              <span><i class="fa fa-light fa-user"></i></span>
              <p>{{dossier.disproveDossier?.author}}</p>
            </div>
            <div class="address">
              <span><i class="fa fa-solid fa-calendar"></i></span>
              <p>{{dossier.disproveDossier?.date | date : "MM/dd/yy"}} </p>
            </div>
          </div>
        </div>
        <div [ngClass]="[dossier.status == DossierStatuses.Disproved ? 'line' : 'none']"></div>
      </ng-container>
    </div>
  </div>
</section>



