<section class="reserve-block">
  <div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="">
        <h3>Досьє номер № {{dossier.id}}</h3>
      </div>
    </div>
  </div>
</section>

<section class="booking-details_wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 responsive-wrap">
        <div class="booking-checkbox_wrap">
          <div class="booking-checkbox">
            {{dossier.text}}
            <hr>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">Bike Parking</span>
              </label>
              <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">Wireless Internet </span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">Smoking Allowed </span>
              </label>
              <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">Street Parking</span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">Special</span>
              </label>
              <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">Accepts Credit cards</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 responsive-wrap">
        <div class="contact-info">
          <img src="https://filestore.community.support.microsoft.com/api/images/f2e55cbf-8316-4d3a-9412-ecd8194b2a72?upload=true"
               class="img-fluid" alt="#">
          <div class="address">
            <span class="icon-location-pin"></span>
            <p> {{dossier.fullName}}</p>
          </div>
          <div class="address">
            <span class="icon-location-pin"></span>
            <p>Адреса<br>  {{dossier.address}}</p>
          </div>
          <div class="address">
            <span class="icon-screen-smartphone"></span>
            <p> Тел:</p>
          </div>
          <div class="address">
            <span class="icon-link"></span>
            <p>Пошта</p>
          </div>
          <div class="address">
            <span class="icon-clock"></span>
            <p>{{dossier.date | date}} </p>
          </div>
          <div class="address">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <p>{{this.enumHelper.DossierStatus[dossier.status]}}</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
