<section *ngIf="this.dossier" class="reserve-block">
  <div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="hero-title">
        <h2> <i class="fa fa-light fa-folder-closed mx-2"></i> Досьє номер {{dossier.id}}</h2>
      </div>
    </div>
  </div>
</section>

<section *ngIf="this.dossier" class="booking-details_wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 responsive-wrap ">
        <div class="booking-checkbox_wrap">
          <div class="booking-checkbox text-light p-2" >
            <div [froalaView]="dossier.text" class="text border-bottom p-2" rows="3" ></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <label class="custom-checkbox">
                <app-file-preview *ngIf="this.dossier.dossierFiles" [files]="this.dossier.dossierFiles"> </app-file-preview>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 responsive-wrap">
        <div class="contact-info">
          <img src="assets/images/1.png"
               class="img-fluid img" alt="#">
          <div class="address">
              <span><i class="fa fa-light fa-user"></i></span>
              <p> {{dossier.lastName}} {{dossier.firstName}} {{dossier.thirdName}}</p>
          </div>
          <div class="address">
            <span><i class="fa fa-location-dot"></i></span>
            <p>{{dossier.address}}</p>
          </div>
          <div class="address">
            <span><i class="fa fa-solid fa-calendar"></i></span>
            <p>{{dossier.date | date  : "MM/dd/yy"}} </p>
          </div>
          <div class="address">
            <p>{{this.enumHelper.DossierStatus[dossier.status]}}</p>

            <ng-container *ngIf="dossier.type == DossierTypes.Published">
              <div class="btn-search">
                <a [routerLink]="['/dossier/'+dossier.id+'/disprove']" class="btn btn-simple btn-contact">Спростувати</a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <ng-container *ngIf="dossier.status == DossierStatuses.Disproved">
        <section class="reserve-block">
          <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
              <div class="hero-title">
                <h4>Спростування досьє</h4>
              </div>
            </div>
          </div>
        </section>
        <div class="col-md-8 responsive-wrap">
          <div class="booking-checkbox_wrap">
            <div class="booking-checkbox">
              <div [froalaView]="dossier.disproveDossier?.text!" class="text" rows="3"></div>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="custom-checkbox">
                  <span class="ti-check-box"></span>
                  <app-file-preview *ngIf="this.dossier.disproveDossier?.dossierFiles" [files]="this.dossier.disproveDossier?.dossierFiles"> </app-file-preview>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 responsive-wrap">
          <div class="badge text-wrap date">
            <div class="address p-2">
              <span><i class="fa fa-solid fa-calendar"></i></span>
              <p>{{dossier.disproveDossier?.date | date : "MM/dd/yy"}} </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>



