<section class="main-block">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="listing-wrap">
          <div class="listing-title">
            <span class="ti-files"></span>
            <h4>Дані про особу</h4>
          </div>
          <form [formGroup]="this.dossierForm">
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label>Прізвище*</label>
                  <input type="text" formControlName="lastName" class="form-control add-listing_form" >
                  <small *ngIf="this.submitted && !this.dossierForm.get('lastName')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Ім'я*</label>
                  <input type="text" formControlName="firstName" class="form-control add-listing_form">
                  <small *ngIf="this.submitted && !this.dossierForm.get('firstName')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>По батькові*</label>
                  <input type="text" formControlName="thirdName" class="form-control add-listing_form">
                  <small *ngIf="this.submitted && !this.dossierForm.get('thirdName')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Фото особи</label>
                  <input type="file" formControlName="imageInput" class="form-control add-listing_form">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Посада</label>
                  <input type="text" formControlName="position" class="form-control add-listing_form">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Установа(місце роботи)</label>
                  <input type="text" formControlName="placeOfWork" class="form-control add-listing_form">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Область*</label>
                  <input type="text" formControlName="region" class="form-control add-listing_form">
                  <small *ngIf="this.submitted && !this.dossierForm.get('region')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Район*</label>
                  <input type="text" formControlName="district" class="form-control add-listing_form">
                  <small *ngIf="this.submitted && !this.dossierForm.get('district')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Територіальна громада</label>
                  <input type="text" formControlName="localCommunity" class="form-control add-listing_form">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Підтверджуючі додатки до тексу (файли, фото та ін.)*</label>
                  <input type="file" formControlName="fileText" class="form-control add-listing_form">
                  <small *ngIf="this.submitted && !this.dossierForm.get('fileText')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Контактні дані автора</label>
                  <input type="text" formControlName="contactInfo" class="form-control add-listing_form">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Контактний номер телефону</label>
                  <input type="text" formControlName="phone" class="form-control add-listing_form">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Адреса електронної пошти</label>
                  <input type="text" formControlName="email" class="form-control add-listing_form">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Текст, що викриває особу, підозрювану у корупції*</label>
                  <textarea formControlName="text" class="text form-control add-listing_form" rows="3"></textarea>
                  <small *ngIf="this.submitted && !this.dossierForm.get('text')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>
              <div class="col">
                <div class="col-md-6 responsive-wrap">
                    <div class="md-checkbox">
                        <input type="checkbox" formControlName="agreeForData" [checked]="this.dossierForm.get('agreeForData')?.value">
                        <label for="i1">Згода на обробку персональних даних</label>
                        <small *ngIf="this.submitted && !this.dossierForm.get('agreeForData')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                    </div>
                </div>
                <div class="col-md-6 responsive-wrap">
                    <div class="md-checkbox">
                        <input type="checkbox" formControlName="agreeForContract" [checked]="this.dossierForm.get('agreeForContract')?.value">
                        <label for="i2">Публічний договір щодо співпраці авторо досьє та сайту</label>
                        <small *ngIf="this.submitted && !this.dossierForm.get('agreeForContract')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="btn-wrap btn-wrap2">
                    <button type="submit" (click)="submit()" class="btn btn-simple" [disabled]="!this.canSubmit()">Надіслати</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
