<div class="container">
    <div class="row p-2">
        <div class="col-sm-3 "></div>
      <div class="col-sm-3 ">
        <span>Прізвище
        </span>
      </div>
      <div class="col-sm-3">
        <span>
            {{dto.lastName}} 
    </span>
      </div>
      <div class="col-sm-3 "></div>
    </div>
    <div class="row p-2">
        <div class="col-sm-3 "></div>
      <div class="col-sm-3">
        <span>Ім'я</span>
      </div>
      <div class="col-sm-3">
        <span>Степан</span>
      </div>
      <div class="col-sm-3 "></div>
    </div>
    <div class="row p-2">
        <div class="col-sm-3 "></div>
      <div class="col-sm-3">
        <span>По Батькові</span>
      </div>
      <div class="col-sm-3">
        <span>Степанович</span>
      </div>
      <div class="col-sm-3 "></div>
    </div>
    <div class="row p-2">
        <div class="col-sm-3 "></div>
      <div class="col-sm-3">
        <span>Посада</span>
      </div>
      <div class="col-sm-3">
        <span>Сантехнік</span>
      </div>
      <div class="col-sm-3 "></div>
    </div>
    <div class="row p-2">
        <div class="col-sm-3 "></div>
      <div class="col-sm-3">
        <span>Місце роботи</span>
      </div>
      <div class="col-sm-3">
        <span>ФОП</span>
      </div>
      <div class="col-sm-3 "></div>
    </div>
    <div class="row p-2">
        <div class="col-sm-3 "></div>
      <div class="col-sm-3">
        <span>Адреса</span>
      </div>
      <div class="col-sm-3">
        <span>Львів</span>
      </div>
      <div class="col-sm-3 "></div>
    </div>
</div>
