<div *ngIf="dto" class="container">
  <div class="row p-2">
    <div class="col-sm-3 "></div>
    <div class="col-sm-3 ">
      <span>
        Прізвище
      </span>
    </div>
    <div class="col-sm-3">
      <span>
        {{dto.lastName}}
      </span>
    </div>
    <div class="col-sm-3 "></div>
  </div>
  <div class="row p-2">
    <div class="col-sm-3 "></div>
    <div class="col-sm-3">
      <span>Ім'я</span>
    </div>
    <div class="col-sm-3">
      <span>{{dto.firstName}} </span>
    </div>
    <div class="col-sm-3 "></div>
  </div>
  <div class="row p-2">
    <div class="col-sm-3 "></div>
    <div class="col-sm-3">
      <span>По Батькові</span>
    </div>
    <div class="col-sm-3">
      <span>{{dto.thirdName}} </span>
    </div>
    <div class="col-sm-3 "></div>
  </div>
  <div class="row p-2">
    <div class="col-sm-3 "></div>
    <div class="col-sm-3">
      <span>Посада</span>
    </div>
    <div class="col-sm-3">
      <span>{{dto.position}} </span>
    </div>
    <div class="col-sm-3 "></div>
  </div>
  <div class="row p-2">
    <div class="col-sm-3 "></div>
    <div class="col-sm-3">
      <span>Місце роботи</span>
    </div>
    <div class="col-sm-3">
      <span>{{dto.placeOfWork}}</span>
    </div>
    <div class="col-sm-3 "></div>
  </div>
  <div class="row p-2">
    <div class="col-sm-3 "></div>
    <div class="col-sm-3">
      <span>Адреса</span>
    </div>
    <div class="col-sm-3">
      <span>{{dto.address}}</span>
    </div>
    <div class="col-sm-3 "></div>
  </div>
  <div class="row p-2">
    <div class="booking-checkbox text-light p-2">
      <div [froalaView]="dto.text" class="text border-bottom p-2" rows="3"></div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-sm-3">
      <span>Фото особи</span>
    </div>
    <div class="col-sm-3">
      <span>{{authorPhoto??'відсутнє'}}</span>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-sm-3">
      <span>Підтверджуючі додатки до тексту (файли, фото та ін.)</span>
    </div>
    <div class="col-sm-3">
      <span>{{attachtments.length>0?attachtments:'відсутні'}}</span>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-sm-3">
      <span>Хеш-теги</span>
    </div>
    <div class="col-sm-3">
      <span>{{dto.tags}}</span>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-sm-3">
      <span>Пов'язані особи</span>
    </div>
    <div class="col-sm-3">
      <span>{{relatedDossiers.length>0?relatedDossiers:'відсутні'}}</span>
    </div>
  </div>
  <ng-container *ngIf="!dto.isAnonymous">
    <div class="row p-2">
      <div class="col-sm-3 "></div>
      <div class="col-sm-3">
        <span>Автор</span>
      </div>
      <div class="col-sm-3">
        <span>{{dto.author}}</span>
      </div>
      <div class="col-sm-3 "></div>
    </div>
    <div class="row p-2">
      <div class="col-sm-3 "></div>
      <div class="col-sm-3">
        <span>Контактний номер телефону</span>
      </div>
      <div class="col-sm-3">
        <span>{{dto.phone}}</span>
      </div>
      <div class="col-sm-3 "></div>
    </div>
    <div class="row p-2">
      <div class="col-sm-3 "></div>
      <div class="col-sm-3">
        <span>Адреса електронної пошти</span>
      </div>
      <div class="col-sm-3">
        <span>{{dto.email}}</span>
      </div>
      <div class="col-sm-3 "></div>
    </div>
  </ng-container>
</div>
