<section class="main-block">
  <div class="firstHalf">
    <p class="text-big">Правила</p>
    <section class="container mt-5">
      <div class="row">
        <div class="col-sm-6 border-style-top position">
            <p class="number">1</p><p class="mt-2">  Інформація видаляється з платформи виключно за рішенням суду;
          </p>
        </div>
        <div class="col-sm-6 ">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 "></div>
        <div class="col-sm-6 border-style-bottom position">
            <p class="number">2</p><p> Інформація про військових чиновників (мова про кадрових військових) не публікується на час дії воєнного
            стану. Однак, такі дані про корупцію чи інші злочини збираються з метою їх наступного розголосу після
            припинення та скасування воєнного стану.
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
