<section class="main-block">
  <div class="firstHalf">
    <p class="text-big">Про проєкт</p>
    <section class="container mt-5">
      <div class="row">
        <div class="col-sm-6 border-style-top">
          <p>Blacklist – це унікальна платформа, за допомогою якої кожен українець зможе взяти участь в очищенні
            країни від корупціонерів та недолугих чиновників.
            Якщо Ви стали свідком свавілля чиновника. Якщо у Вас чи у Ваших близьких вимагали хабара, не потрібно
            мовчати і миритися з цим. Достатньо внести такого корупційного “героя” у базу <a class="link"
              target="_blank" href="https://blacklist.ua/">blacklist.ua</a>
            , аби про нього
            дізналася вся країна. І він буде покараний. Це Ваш внесок у майбутнє України.</p>
        </div>
        <div class="col-sm-6 ">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
          <p>Ми ж, команда blacklist.ua, зі свого боку зробимо надзвичайно «популярним» кожного фігуранта бази
            корупціонерів. Так як таргани бояться світла – так корупціонери бояться публічності. Ми таку публічність
            їм забезпечимо.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>Для того, щоб база залишалась джерелом достовірних відомостей, ми інтегрувалися в систему ДІЯ. Тому,
            будь-яка подана Вами інформація, має бути засвідчена Підпис-ДІЄЮ (накладання КЕП).</p>
        </div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
          <p>Водночас, база приймає також анонімну інформацію. Однак, у такому випадку, дані будуть публікуватись від
            імені платформи та лише після ретельної їх перевірки на достовірність.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>У своїй роботі ми дотримуємось принципу, що "один в полі - не воїн", а тому, з таким злом як корупція, мусимо боротись усі. </p>
        </div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 border-style-bottom">
          <p>І ми її переможемо!</p>
        </div>
      </div>
    </section>
  </div>
</section>
