<div class="card" *ngFor="let item of info">
  <a href="detail.html"><img class="card-img-top" src="assets/images/1.png" alt="Card image cap"></a>
  <div class="card-body">
    <h5 class="card-title">{{item.fullName}}</h5>
    <ul class="card-rating">
      <li>{{item.position}}</li>
      <li>{{item.placeOfWork}}</li>
    </ul>
    <p class="card-text">{{item.text}}</p>
  </div>
  <div class="card-bottom">
    <p><i class="ti-location-pin"></i>{{item.date | date}}</p>
    <span>{{item.status}}</span>
  </div>
</div>
