.card-img-top {
  max-width: 500px;
  min-height: 250px;
}


.edit {
  display: block;
  padding: 10px;
  margin: 16px;
  border: 2px solid #ea5555;
  color: #ea5555;
  font-weight: 400;

  @media (max-width: 992px) {
    position: inherit;
    margin: 1px 0 0;
  }

  &:hover  {
    color: white;
    background: #ea5555;
    border: 2px solid #ea5555;
  }
}


.flex-btn-edit{
  display: flex;
  margin-bottom: 0rem;
  flex-direction: row ;
  box-sizing: border-box;
}