<div class="portfolio-wrap">
  <div class="portfolio-item">
    <div class="portfolio-item-wrap">
      <ng-container *ngIf="dossier.type !== DossierTypes.New && dossier.type !== DossierTypes.Declined">
        <a [routerLink]="['/dossier', dossier.id]"><img class="card-img-top img-hover"
            [src]="dossier.photo? dossier.photo.url: 'assets/images/1.png'" alt="Card image cap"></a>
      </ng-container>
      <ng-container *ngIf="dossier.type === DossierTypes.New || dossier.type === DossierTypes.Declined">
        <a style="pointer-events:none">
          <img class="card-img-top"
            [src]="dossier.photo? this.isAdmin? dossier.photo.url+'?accessToken='+this.adminService.getToken():dossier.photo.url : 'assets/images/1.png'" alt="Card image cap" layout-fill>
          </a>
      </ng-container>
      <div class="portfolio-item-inner ">
        <div class="portfolio-heading">
          <h5 class="card-title text-center m-3 title">{{dossier.fullName}}</h5>
          <div class="card-rating card-rating-null">
            <span class="position text-ligh">{{dossier.position}} {{dossier.placeOfWork}}</span>
          </div>
          <p class="card-text text">{{dossier.address}}</p>
        </div>
      </div>
    </div>
    <div class="card-bottom bg-dark" [ngClass]="[this.isAdmin ? 'card-bottom-hgt' : 'card-bottom']">
      <p class="text-light"><i class="fa fa-light fa-calendar date"></i>{{dossier.date | date : "MM/dd/yy"}}</p>
      <span [ngClass]="[this.dossier.status ? 'green': 'red']">{{this.enumHelper.DossierStatus[dossier.status]}}</span>
      <div *ngIf="this.isAdmin" class="btn-edit" [class.flex-btn-edit]="dossier.status === DossierStatuses.Disproved || dossier.status === DossierStatuses.HasDisprove">
        <a [routerLink]="['/admin/dossier/'+dossier.id+'/edit']" [ngClass]="[ dossier.status === DossierStatuses.Disproved || dossier.status === DossierStatuses.HasDisprove ?'btn btn edit' : 'btn-edit-top']" class="btn btn edit">Редагувати</a>
        <a *ngIf="dossier.status === DossierStatuses.Disproved || dossier.status === DossierStatuses.HasDisprove"
           [routerLink]="['/admin/dossier/'+dossier.id+'/disprove/edit']" class="btn edit btn-contact">Спростування</a>
      </div>
    </div>
  </div>
</div>
