.card-img-top {
  max-width: 500px;
  min-height: 250px;
}

.btn-edit {
  margin-top: 5px;
  display: block;
  margin: 12px;
  border: 2px solid #ea5555;
  color: #ea5555;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .1rem .30rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;

  @media (max-width: 992px) {
    position: inherit;
    margin: 10px 0 0;
  }

  &:hover  {
    background: #ea5555;
    color: white;
  }

  .btn-simple {
    color: #ea5555;
    &:hover {
      color: white;

    }
  }
}
