<footer class="main-block gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 responsive-wrap">
                <div class="location">

                </div>
            </div>
            <div class="col-md-4 responsive-wrap">
                <div class="footer-logo_wrap">
                </div>
            </div>
            <div class="col-md-4 responsive-wrap">
                <ul class="social-icons">
                    <li><a href="https://www.instagram.com/blacklist.ua.main/" class="btn-outline-white "title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/people/Blacklistua/100088457935843/" title="Facebook"  target="_blank"><i class="fa fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://t.me/blacklist_ua_main" target="_blank"><i class="fa fa-brands fa-telegram "  title="Telegram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCphTOY4t6Z7e7sFoP0S-lDQ"  title="YouTube" target="_blank"><i class="fa fa-brands fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="tel:+380670065005"><i class="fa fa-phone" title="Phone" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:blacklist.ua.main@gmail.com"  title="Email" ><i class="fa fa-thin fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Копірайт © {{this.Year}} Blacklist</p>
                </div>
            </div>
        </div>
    </div>
</footer>
