<script src="/assets/sign.processor.js" async></script>

<section class="main-block" [style.background-color]="this.requireSign ? 'white' : 'black'">
  <div class="container-fluid" [style.display]="!this.requireSign ? 'block' : 'none'">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="listing-wrap">

          <div class="listing-title">
            <span class="ti-files"></span>
            <h4>Спростування досьє номер {{this.id}}</h4>
            <h5>Подача спростування дозволяється лише особі, на котру подано досьє</h5>
          </div>

          <form [formGroup]="this.dossierForm">
            <div class="row">
              <p class="info"> Обов’язкові поля для заповнення</p>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="required-field">Текст, що спростовує відомості, зазначені в досьє</label>
                  <textarea id="dossier-text" [froalaEditor] formControlName="text" class="text form-control" rows="3"></textarea>
                  <small *ngIf="this.submitted && !this.dossierForm.get('text')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="required-field">Підтверджуючі додатки до тексту (файли, фото та ін.)</label>
                  <input id="dossier-files" (change)="onFileChange($event)" type="file" multiple formControlName="attachtments" class="form-control">
                  <small *ngIf="this.submitted && !this.dossierForm.get('attachtments')?.valid"
                         class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                  <small *ngIf="this.hasFileSizeError"
                         class="form-text text-danger ml-2">Максимальний розмір файлу, що підримується - 10 MB</small>
                </div>
              </div>

              <div class="listing-title">
                <span class="ti-files"></span>
                <p>Контактні дані автора</p>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="required-field">Автор</label>
                  <input type="text" formControlName="author" class="form-control">
                  <small *ngIf="this.submitted && !this.dossierForm.get('author')?.valid" class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Контактний номер телефону</label>
                  <input type="text" placeholder="+380xxxxxxxxx" formControlName="phone" class="form-control">
                  <small *ngIf="this.submitted && !this.dossierForm.get('phone')?.valid" class="form-text text-danger ml-2">Не валідний номер телефону</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Адреса електронної пошти</label>
                  <input placeholder="email@mail.com" type="text" formControlName="email" class="form-control">
                  <small *ngIf="this.submitted && !this.dossierForm.get('email')?.valid" class="form-text text-danger ml-2">Не валідна адреса електронної пошти</small>
                </div>
              </div>
              <div class="col-md-6">
              </div>

              <div class="col">
                <div class="col-md-12 responsive-wrap">
                  <div class="md-checkbox" style="margin-top: 20px;">
                    <input type="checkbox" id="agreeForData" formControlName="agreeForData" [checked]="this.dossierForm.get('agreeForData')?.value">
                    <label for="agreeForData" class="required-field">Згода на обробку персональних даних</label>
                    <a target="_blank" href="assets/files/sample.pdf" class="link"><i class="fa-solid fa-eye"></i></a>
                    <p *ngIf="this.submitted && !this.dossierForm.get('agreeForData')?.valid" class="form-text text-danger ml-2 small">Це поле є обов'язковим для заповнення</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="btn-wrap btn-wrap2">
                    <button type="submit" (click)="submit()" class="btn btn-simple" [disabled]="!this.canSubmit()">Надіслати</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" [style.display]="this.requireSign ? 'block' : 'none'">
    <div class="row justify-content-center" style="height:82vh">
      <!-- <div class="col-md-8"> -->
      <!-- <div class="listing-wrap"> -->
      <div id="sign-widget-parent" style="max-width:600px;min-height:500px">
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>

