<link rel="stylesheet" href="https://api.visicom.ua/apps/visicom-autocomplete.min.css">

<section class="main-block">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="listing-wrap">

          <div class="listing-title">
            <span class="ti-files"></span>
            <h4>Редагувати досьє номер {{this.id}}</h4>
            <p>Дані про особу</p>
          </div>


          <form [formGroup]="this.dossierForm">
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label class="required-field">Прізвище</label>
                  <input type="text" formControlName="lastName" class="form-control">
                  <small *ngIf="this.submitted && !this.dossierForm.get('lastName')?.valid"
                    class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="required-field">Ім'я</label>
                  <input type="text" formControlName="firstName" class="form-control">
                  <small *ngIf="this.submitted && !this.dossierForm.get('firstName')?.valid"
                    class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="required-field">По батькові</label>
                  <input type="text" formControlName="thirdName" class="form-control">
                  <small *ngIf="this.submitted && !this.dossierForm.get('thirdName')?.valid"
                    class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                </div>
              </div>

              <div class="listing-title">
                <span class="ti-files"></span>
                <p>Додаткові дані</p>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label>Фото особи</label>
                  <app-file-preview *ngIf="this.dossier.photo" [files]="[this.dossier.photo]"> </app-file-preview>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Посада</label>
                  <input type="text" formControlName="position" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Установа(місце роботи)</label>
                  <input type="text" formControlName="placeOfWork" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="required-field">Адреса</label>
                  <div id="visicom-autocomplete">
                    <a href="https://api.visicom.ua/" target="_blank"></a>
                  </div>
                  <small *ngIf="this.submitted && !this.checkAddress()" class="form-text text-danger ml-2">
                    Це поле є обов'язковим для заповнення
                  </small>
                </div>
              </div>

              <div class="listing-title">
                <span class="ti-files"></span>
                <p>Зміст досьє</p>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="required-field">Текст, що викриває особу, підозрювану у корупції</label>
                    <div [froalaView]="this.dossier.text" class="text form-control" rows="3"></div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="required-field">Підтверджуючі додатки до тексту (файли, фото та ін.)</label>
                  <app-file-preview *ngIf="this.dossier.dossierFiles" [files]="this.dossier.dossierFiles"> </app-file-preview>
                </div>
              </div>

              <ng-container *ngIf="!this.isAnonymous">
                <div class="listing-title">
                  <span class="ti-files"></span>
                  <p>Контактні дані автора</p>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="required-field">Автор</label>
                    <input [readonly]="true"  type="text" formControlName="author" class="form-control">
                    <small *ngIf="this.submitted && !this.dossierForm.get('author')?.valid"
                           class="form-text text-danger ml-2">Це поле є обов'язковим для заповнення</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Контактний номер телефону</label>
                    <input [readonly]="true" type="text" placeholder="+380xxxxxxxxx" formControlName="phone" class="form-control">
                    <small *ngIf="this.submitted && !this.dossierForm.get('phone')?.valid"
                      class="form-text text-danger ml-2">Не валідний номер телефону</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Адреса електронної пошти</label>
                    <input [readonly]="true" placeholder="email@mail.com" type="text" formControlName="email" class="form-control">
                    <small *ngIf="this.submitted && !this.dossierForm.get('email')?.valid"
                      class="form-text text-danger ml-2">Не валідна адреса електронної пошти</small>
                  </div>
                </div>
                <div class="col-md-6">
                </div>
              </ng-container>
              <div class="row">
                <div class="col-md-12">
                  <div class="btn-admin">
                    <div>
                      <button type="submit" (click)="this.submit('save')" class="btn btn-simple-admin btn-color-primary margin">Зберегти</button>
                    </div>
                    <div *ngIf="this.dossier.type!= this.DossierTypes.Published">
                      <button type="submit" (click)="this.submit('publish')" class="btn btn-simple-admin">Опублікувати</button>
                    </div>
                    <div *ngIf="this.dossier.type!= this.DossierTypes.Declined">
                      <button type="submit" (click)="this.submit('decline')" class="btn btn-simple-admin btn-color-danger">Відхилити</button>
                    </div>
                    <div *ngIf="this.isSuperAdmin">
                      <button type="submit" (click)="this.delete()" class="btn btn-simple-admin btn-color-danger">Видалити</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
