@import '/src/styles/bootstrap.min.scss';

// @import '/src/styles/style.scss';

@import '/src/styles/swiper.min.scss';





/* ==============================================================
   GLOBAL STYLES
   ============================================================== */

body {
  font-family: 'Roboto', sans-serif;

}

h1 {
  font-size: 60px;
  

  @media (max-width: 992px) {
    font-size: 50px;
  }

  @media (max-width: 768px) {
    font-size: 40px;
  }

  @media (max-width: 576px) {
    font-size: 33px;
  }
}

h2 {
  font-size: 38px;
  font-weight: 700;
  // color: #484848;
  color: #cccbcb;

  @media (max-width: 576px) {
    font-size: 28px;
  }
}

h3 {
  font-size: 27px;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 992px) {
    font-size: 20px;
  }
}

h4 {
  font-size: 25px;

  @media (max-width: 992px) {
    font-size: 22px;
  }
}


.main-block {
  padding: 50px 0 100px 0;

  @media (max-width: 992px) {
    padding: 44px 0;
  }
}

.responsive-wrap {
  @media (max-width: 992px) {
    max-width: 100%;
    flex: 100%;
  }
}

.responsive-block {
  @media (max-width: 992px) {
    max-width: 50%;
    flex: 50%;
  }

  @media (max-width: 576px) {
    max-width: 100%;
    flex: 100%;
  }
}


/* ==============================================================
   MAIN TITLE
   ============================================================== */


.hero-wrap {
  text-align: center;
  min-height: 500px;
  height: 85vh;
  background: black;

  @media (max-width: 767px) {
    min-height: 600px;
  }

}

.hero-title{

  letter-spacing:3px;
}

@keyframes hero-wrap {
  0% {
    background-position: 80% 0%;
  }

  50% {
    background-position: 20% 100%;
  }

  100% {
    background-position: 80% 0%;
  }
}


h1 {
  // color: #484848;
  color: #cccbcb;
  font-weight: 700;
}

h3 {
  color: #7c7c7c;
  margin: 15px 0 0;
  font-size: 24px;
  font-weight: 300;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 1.5;
  }
}


.search-box {
  border: 1px solid #ccc;
  margin: 40px 0 0;

  @media (max-width: 767px) {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

}

.search-box_line {
  border-right: 1px solid #ccc;

  @media (max-width: 767px) {
    border: none;

  }

  .btn-add {
    top: 17%;

    @media (max-width: 767px) {
      top: 0px;
      left: 0;
      border: none;
    }
  }
}

.search-box1,
.search-box2 {
  text-align: left;
  padding: 15px 20px;

  @media (max-width: 768px) {
    border-bottom: 2px solid #ccc;
  }

  label {
    font-size: 19px;
    font-weight: 600;
    color: rgb(196, 196, 196);
    margin: 0;
  }
}

.search-form {
  margin: 0;
  color: rgb(196, 196, 196);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  border: none;
  width: 64%;
  background: none;

  &::placeholder {
    color: #adadad;
  }

  @media (max-width: 992px) {
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}

.search-box2 {
  position: relative;
  border: none;
  width: 100%;
  display: inline-block;

  p {
    color: #484848;
  }
}

.search-box-title {
  margin: 7px 0 0;

  @media (max-width: 768px) {
    display: block;
  }
}

.btn-search {
  position: absolute;
  top: 41%;
  right: 3%;
  background: #ff6b6b;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s;

  // @media (max-width: 992px) {
  //   position: absolute;
  //   margin: 49px 11px 0;
  // }

  @media (max-width: 920px) {
    position: inherit;
    margin: 15px 0 0;
  }

  &:hover {
    background: #ea5555;
    color: #fff;
  }

  .btn-simple {
    color: #fff;
    padding: 20px 46px;
    font-size: 18px;

    @media (max-width: 1200px) {
      padding: 18px 31px;
    }

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.btn-simple-more {
  display: inline-block;
  padding: 10px 35px;
  margin: 12px;
  font-weight: 400;

  &:hover {
    color: white;
  }
}

.btn-color-danger {
  color: #ccc;
  border: 1px solid #ccc;
  position: absolute;
  right: 41px;
  transition: 0.3s;

  &:hover {
    color: white;
    background: #ff6b6b;
    border: 1px solid #ff6b6b;
  }
}


.float-container {
  padding: 20px;

  @media (max-width: 1200px) {
    display: flex;

    @media (max-width: 768px) {
      right: 7px;
      border-bottom: 1px solid #ccc;
    }

    @media (max-width: 920px) {
      display: flex;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      flex-direction: column;
    }
  }
}

.float-child {
  &:first-child {
    margin-right: 10px;

    @media (max-width: 992px) {
      position: inherit;
      width: 100%;

    }
  }

  width: 49%;
  float: left;
  background: #ff6b6b;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s;

  &:hover {
    background: #ea5555;
    color: #fff;
  }

  .btn-simple {
    color: #fff;
    padding: 20px 46px;
    font-size: 18px;

    @media (max-width: 1200px) {
      padding: 18px 6px;
    }

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.float-child-an {
  &:first-child {
    margin-right: 10px;
  }
  @media (max-width: 992px) {
    position: inherit;
    width: 100%;
    margin: 15px 0 0;
  }

  width: 49%;
  float: left;
  background: #868e96;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s;

  &:hover {
    background: #777d83;
    color: #fff;
  }

  .btn-an {
    color: #fff;
    padding: 20px 46px;
    font-size: 18px;


    @media (max-width: 1200px) {
      padding: 18px 31px;
    }

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}


.btn-add-dossier {
  top: 15%;
  right: 3%;
  background: #ff6b6b;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s;

  @media (max-width: 992px) {
    position: inherit;
    margin: 15px 0 0;
  }

  &:hover {
    background: #ea5555;
    color: #fff;
  }

  .btn-simple {
    color: #fff;
    padding: 20px 46px;
    font-size: 18px;

    @media (max-width: 1200px) {
      padding: 18px 31px;
    }

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}


.main-block {
  background-color: #020101;


  .btn-simple {
    font-size: 22px;
    color: #ff6b6b;
    transition: 0.3s;

    @media (max-width: 992px) {
      font-size: 17px;
    }

    &:hover,
    &:focus {
      color: #ea5555;
      box-shadow: none;
    }
  }

  hr {
    margin-bottom: 1.8rem;
  }




  // Contact Info
  .contact-info {
    background: #fff;
    padding: 0 0 6px;
    margin: 0 0 15px;

    img {
      width: 100%;
    }

    label {
      color: #46cd38;
      font-size: 14px;
      padding: 0 0 0 50px;

      @media (max-width: 992px) {
        display: block;
      }
    }
  }


  .error-page {
    text-align: center;
  }

  .error-404 {
    min-height: 600px;

    h2 {
      font-size: 140px;
      color: #ff6b6b;

      @media (max-width: 992px) {
        font-size: 130px;
      }

      @media (max-width: 480px) {
        font-size: 90px;
      }
    }

    h4 {
      color: #05bf83;
      font-size: 30px;
    }

    p {
      font-family: 'Roboto', sans-serif;
      color: #7c7c7c;
      font-size: 18px;
    }
  }

  .form-control {
    padding: 14px 12px;
    background: #fbfbfb;

    &:focus {
      border-color: #ff6b6b;
    }
  }

  select.form-control:not([size]):not([multiple]) {
    height: calc(3.05rem + 2px);
  }

  .form-control:focus {
    border-color: #ff6b6b;
  }


  // Login Sign up
  .nav-pills {
    li {
      text-align: center;
      width: 50%;
      background: #fbfbfb;

      a {
        color: #000;
        padding: 20px;
        border-radius: 0 !important;

        &:hover {
          color: #000;
        }
      }
    }
  }

  .nav-pills .nav-link.active,
  .show>.nav-pills .nav-link {
    background: #020101;
    color: #fff;
  }

  .btn-primary {
    background: #ff6b6b;
    border-color: #ff6b6b;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #ea5555;
      border-color: #ea5555;
      outline: none;
      box-shadow: none;
    }
  }

  .card-header {
    &:hover {
      text-decoration: none;
    }

    h5 {
      text-align: left;
      font-size: 20px;
      font-weight: 500;
    }

    img {
      width: 82px;
      position: absolute;
      right: 14px;
      top: 13px;
    }
  }

}


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: black;
}
