<section class="hero-wrap d-flex align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="hero-title">
                <h1>Black List</h1>
                <h3>Свій Текст</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="search-box">
                        <div class="row">
                          <div class="col-md-6 search-box_line float-container">
                            
                            <div class="float-child">
                              <a [routerLink]="['/add-dossier']" class="btn btn-simple">Створити досьє</a>
                            </div>
                            <div class="float-child-an">
                              <a [routerLink]="['/add-dossier/anonymous']" class="btn btn-an ">Анонімно</a>
                            </div>
                          </div>

                            <div class="col-md-6">
                                <div class="search-box2">
                                    <div class="search-box-title">
                                        <label>Введіть текст</label><br>
                                        <input [(ngModel)]="searchString" type="text" id="searchString" name="searchString" class="search-form" spellcheck="false" placeholder="Пошук">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-search">
                        <a [routerLink]="['/search']" [queryParams]="{text: this.searchString}" class="btn btn-simple">Пошук досьє</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--//END MAIN TITLE -->
<!--============================= NEWS & ARTICLE =============================-->
<section class="main-block gray">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-10">
                <div class="titile-block">
                    <p>Останні досьє</p>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6 col-lg-6 article-first">
               <iframe width="560" height="315" [src]="this.videoLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-lg-4 article-first">
                    <app-file-card></app-file-card>
                    <app-file-card></app-file-card>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="btn-wrap">
                    <a href="blog.html" class="btn btn-simple d-flex justify-content-end">Більше →</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END NEWS & ARTICLE -->




