
<section class="hero-wrap d-flex align-items-center gradient">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="hero-title spacing">
        <h1>Black List</h1>
        <p class="subtext">Якщо Ви стали свідком свавілля чиновника; якщо у Вас чи у Ваших близьких вимагали хабар, - не потрібно про це мовчати і миритися з цим. 
          Достатньо внести такого корупційного “героя” у базу  <a class="link" target="_blank" href="https://blacklist.ua/"> blacklist.ua</a> , аби про нього дізналася вся країна. І він буде покараний.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="search-box">
            <div class="row ml-0">
              <div class="col-md-6 search-box_line float-container">
                <div class="float-child">
                  <a [routerLink]="['/add-dossier']" class="btn btn-simple">Створити досьє</a>
                </div>
                <div class="float-child-an">
                  <a [routerLink]="['/add-dossier/anonymous']" class="btn btn-an ">Анонімно</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="search-box2">
                  <div class="search-box-title">
                    <label>Введіть текст</label><br>
                    <input [(ngModel)]="searchString" type="text" id="searchString" name="searchString"
                      class="search-form" spellcheck="false" placeholder="Пошук">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-search">
            <a [routerLink]="['/search']" [queryParams]="{searchString: this.searchString}" class="btn btn-simple">Пошук
              досьє</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="main-block gray">
  <div class="row justify-content-ce mb-5">
    <div class="col-md-10 container">
      <div class="titile-block">
        <h2 class="title-dossier hero-title">Останні досьє</h2>
      </div>
      <div class="col-lg-7 m-auto">
        <app-latest-dossier></app-latest-dossier>
        <a [routerLink]="['/search']" [queryParams]="{searchString: ''}"
          class=" btn btn-simple-more btn-color-danger fw-lighter ms-4 mb-2">Більше →</a>
      </div>
    </div>
  </div>
</section>
<section class="main-block gray py-5" style="height: 420px;">
  <div class="container">
    <div class="row">
      <!-- Блок для відео -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="video-container">
          <iframe width="560" height="315" [src]="this.videoLink" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      
      <!-- Блок для зображень -->
      <div class="col-lg-6">
        <div class="image-container">
          <app-carousel [images]="this.pictures" id="app-carousel"></app-carousel>
        </div>
      </div>
    </div>
  </div>
</section>