<section class="featured-wrap">
  <div class="container-fluid container-subpage">
    <div class="row">
      <div class="col-md-12 responsive-wrap py-4">
        <div class="row detail-filter-wrap">
          <div class="col-md-12 featured-responsive">
            <div class="col-md-6 m-center">
              <div class="search-box2 border-bottom">
                <div class="search-box-title">
                  <label class="search-box-text">Введіть текст</label><br>
                  <input [disabled]="this.activeTab === 'Settings'" [(ngModel)]="searchString" type="text"  class="search-form"
                         spellcheck="false" placeholder="Пошук">
                  <div class="btn-search">
                    <a [routerLink]="" (click)="this.search()" [class.disabled]="this.activeTab === 'Settings'"   class="btn btn-simple">
                      Пошук
                      досьє
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <tabset #staticTabs customClass="tabset">
    <tab [active]="this.activeTab === 'New'" id="New" heading="Нові досьє" customClass="customClass" (selectTab)="changeTab($event)">
      <app-search #tabNew (searchEvent)="this.internalSearch($event)" [searchText]="this.searchString" [isAdmin]="true" [dossierType]="DossierTypes.New" *ngIf="this.activeTab === 'New'"></app-search>
    </tab>
    <tab [active]="this.activeTab === 'Published'" id="Published" heading="Опубліковані" customClass="customClass" (selectTab)="changeTab($event)">
      <app-search #tabPublished (searchEvent)="this.internalSearch($event)" [searchText]="this.searchString" [isAdmin]="true" [dossierType]="DossierTypes.Published" *ngIf="this.activeTab === 'Published'"></app-search>
    </tab>
    <tab [active]="this.activeTab === 'Declined'" class="text-white-50" id="Declined" heading="Відхилені" customClass="customClass" (selectTab)="changeTab($event)">
      <app-search #tabDeclined (searchEvent)="this.internalSearch($event)" [searchText]="this.searchString" [isAdmin]="true" [dossierType]="DossierTypes.Declined" *ngIf="this.activeTab === 'Declined'"></app-search>
    </tab>
    <tab [active]="this.activeTab === 'Settings'" id="Settings" heading="Налаштування" customClass="customClass" (selectTab)="changeTab($event)">
      <app-admin-settings *ngIf="this.activeTab === 'Settings'"></app-admin-settings>
    </tab>
  </tabset>
</section>
