.featured-wrap {
  color: white;
  background-color: black;


  .m-center {
    margin: 0 auto;
  }
}

.search-box {
  border: 1px solid #ccc;
  margin: 40px 0 0;
}

.search-box_line {
  border-right: 1px solid #ccc;

  @media (max-width: 767px) {
    border: none;
  }

  .btn-add {
    top: 17%;

    @media (max-width: 767px) {
      top: 0px;
      left: 0;
      border: none;
    }
  }
}

.search-box1,
.search-box2 {
  text-align: left;
  padding: 15px 20px;

  @media (max-width: 768px) {
    border-bottom: 1px solid #ccc;
  }

  label {
    font-size: 19px;
    font-weight: 600;
    // color: #484848;
    color: rgb(196, 196, 196);
    margin: 0;
  }
}

.search-form {
  margin: 0;
  color: rgb(196, 196, 196);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  border: none;
  width: 40%;
  background: none;

  &::placeholder {
    color: #adadad;
  }

  @media (max-width: 992px) {
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}

.search-box2 {
  position: relative;
  border: none;
  width: 100%;
  display: inline-block;

  p {
    color: #484848;
  }
}

.search-box-title {
  margin: 10px;

  @media (max-width: 768px) {
    display: block;
  }
}

.btn-search {
  position: absolute;
  top: 27%;
  right: 22%;
  background: #ff6b6b;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s;

  @media (max-width: 992px) {
    position: inherit;
    margin: 15px 0 0;
  }

  &:hover {
    background: #ea5555;
    color: #fff;
  }

  .btn-simple {
    color: #fff;
    padding: 10px 40px;
    font-size: 18px;

    @media (max-width: 1200px) {
      padding: 18px 31px;
    }

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}


// .size{
//     @media (max-width: 992px){
//       width: 50%;
//       min-height: 490px;
  
//   }
// }