<section class="featured-wrap">
  <div class="container-fluid container-subpage">
    <div class="row">
      <div class="col-md-12 responsive-wrap">
        <div *ngIf="!this.isAdmin" class="row detail-filter-wrap">
          <div class="col-md-12 featured-responsive">
            <div class="col-md-6 m-center">
              <div class="search-box2">
                <div class="search-box-title">
                  <label>Введіть текст</label><br>
                  <input [(ngModel)]="searchText" type="text" class="search-form"
                    spellcheck="false" placeholder="Пошук">
                  <div class="btn-search">
                    <a [routerLink]="" (click)="this.search()" class="btn btn-simple">Пошук
                      досьє</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <ng-container *ngIf="this.searchResults.length == 0">
            <div class="col-md-4"></div>
            <div class="col-md-4 card-2">
              <p class="not-found-results">
                <br/>
                За вашими критеріями нічого не знайдено.
              </p>
            </div>
            <div class="col-md-4"></div>
          </ng-container>
          <ng-container *ngFor="let dossier of this.searchResults">
            <div class="col-md-3 card-2">
              <app-small-dossier [isAdmin]="this.isAdmin" [dossier]="dossier"></app-small-dossier>
            </div>
          </ng-container>
        </div>
        </div>
    </div>
  </div>
</section>
