

section {
  padding: 5px;
  padding-right: 15px;

  .file {
    margin: 5px;
    background-color: transparent;
    border: 1px solid #737882;
    border-radius: 0.25em;
    padding: 10px;
    text-align: center;
  }

  .file-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #f9fafb;
  }

  .file-icon {
    color: white;
  }

  .file-download {
    padding: 0;
    color: #f9fafb;

    &:hover {
      color: white;
    }
  }
}
